{:kotoba.app/id "cloud.itonami.isic-3821", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiftk45zdp7ctbqyna5bzn6iqcjj25hmganr2v33f2il35fglilfwy", :kotoba.app/embed-url "ipfs://bafkreiftk45zdp7ctbqyna5bzn6iqcjj25hmganr2v33f2il35fglilfwy", :published {:archive "https://kotobase.net/ipfs/bafkreiftk45zdp7ctbqyna5bzn6iqcjj25hmganr2v33f2il35fglilfwy", :size 72195, :put-status 201, :get-status 200, :at "2026-08-15T13:36:27.386Z"}}
